[global]
index-url = {{ pip_repository.index_url }}
extra-index = {{ pip_repository.extra_index }}
extra-index-url = {{ pip_repository.extra_index_url }}
trusted-host = {{ pip_repository.trusted_host }}
